<app-hero-slider></app-hero-slider>
<div class="row g-0 m-0 p-0 bgc-normal justify-content-center align-items-center text-center">
  <div class="col-12 p-3 text-white"><b>USE CODE 'WELCOME10' ON CHECKOUT FOR 10% DISCOUNT ON THE ORDER</b></div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>Trending Products</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-4 g-3" *ngFor="let product of trendingProducts">
          <app-item-card [product]="product" (productChange)="saveProductInBasket(product)"></app-item-card>
        </div>
      </div>
</div>